.idea
src/bin
src/dev
src/generated
src/lib
src/phpserver
src/pub
src/setup
src/var
src/vendor
/src/.editorconfig
/src/.github/.htaccess
/src/index.php
/src/.github/ISSUE_TEMPLATE/bug_report.md
/src/SECURITY.md
/src/.github/ISSUE_TEMPLATE/feature_request.md
/src/Gruntfile.js.sample
/src/CHANGELOG.md
/src/.github/PULL_REQUEST_TEMPLATE.md
/src/.htaccess
/src/.github/CODEOWNERS
/src/COPYING.txt
/src/.travis.yml.sample
/src/.htaccess.sample
/src/.github/CODE_OF_CONDUCT.md
/src/auth.json.sample
/src/LICENSE_AFL.txt
/src/app/.htaccess
/src/.user.ini
/src/nginx.conf.sample
/src/LICENSE.txt
/src/.github/CONTRIBUTING.md
/src/.php_cs.dist
/src/package.json.sample
/src/.github/ISSUE_TEMPLATE.md
/src/.github/ISSUE_TEMPLATE/developer-experience-issue.md
/src/grunt-config.json.sample
